[Desktop Entry]
Version=1.0
Type=Application
Name=BaijiSteamVR
GenericName=VR GameCube/Wii Emulator
Comment=GameCube and Wii emulator for Steam Frame
Icon=baiji
Exec=/home/steamos/baiju/bin/baiji-vr
TryExec=/home/steamos/baiju/bin/baiji-vr
Terminal=false
Categories=Game;Emulator;
StartupWMClass=BaijiSteamVR
